@using System.Collections
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Appointments</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="datetime">Day:</label>
                <input name="datetime" type="datetime-local">
            </div>
            <div class="form-group">
                <label for="employees">Employee:</label>
                <select name="employees" id="employees">
                    @{
                        ArrayList employeeList = new ArrayList();
                        employeeList.Add("Gregor");
                        employeeList.Add("Anton");
                        employeeList.Add("Norbert");
                        foreach (string employee in employeeList)
                        {
                            <option value="employee">@employee</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="jobtypes">Job type:</label>
                <select name="jobtypes" id="jobtypes">
                    @{
                        ArrayList jobTypes = new ArrayList();
                        jobTypes.Add("Massage");
                        jobTypes.Add("Head massage");
                        foreach (string jobType in jobTypes)
                        {
                            <option value="jobType">@jobType</option>
                        }
                    }
                </select>
            </div>
            <input type="submit" value="Book appointment" class="btn btn-primary">
        </form>
        </>
    </div>
</div>